<div class="mb-8">
  <a href="{{ url }}" class="[text-decoration:none]">
    <img class="aspect-video w-full rounded object-cover" src="{{ imgUrl }}"/>
    <div class="text-slate-700 font-extrabold pt-2 whitespace-nowrap text-ellipsis overflow-hidden">
      {{ name }}
    </div>
    <div class="font-semibold text-slate-700">
      <div class="text-xs whitespace-nowrap text-ellipsis overflow-hidden">
        {{ address }}
      </div>
      <div class="text-xs">
        {{price}}
      </div>
      <div class="text-xs">
        {{ beds }} | {{ available }}
      </div>
    </div>
  </a>
</div>
